@import "utils/normalize.scss";
@import "utils/variables.scss";

@import url(https://fonts.googleapis.com/css?family=Catamaran:400,200,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

.wrapper {
  min-height: 100%;

  margin-bottom: -$footer-height;
}

.wrapper:after {
  content: "";
  display: block;
  height: $footer-height;
}
