@mixin media($class) {
  @if $class == small {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == medium {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == large {
    @media (min-width: 1280px) { @content; }
  }

  @else if $class == largeHeight {
    @media (min-height: 1000px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: small, medium, large";
  }
}
