$black: #000;
$white: #FFF;

//name of color -> http://chir.ag/projects/name-that-color/
$barley-corn: #9b8058;
$tobaco-brown: #70593f;
$wood-bark: #4b141a;
$dark-tan: #760d18;
$mine-shaft: #272727;
$mine-shaft2: #2e2e2e;
$tundora: #434343;
$scorpions: #626161;
$cod-gray: #0e0e0e;
