$black: #000;
$white: #FFF;

//name of color -> http://chir.ag/projects/name-that-color/
$barley-corn: #9b8058;
$tobaco-brown: #70593f;
$judge-gray: #504130;
$wood-bark: #4b141a;
$dark-tan: #760d18;
$mine-shaft: #272727;
$mine-shaft2: #2e2e2e;
$tundora: #434343;
$scorpions: #626161;
$boulder: #7a7a7a;
$cod-gray: #0e0e0e;
$cod-gray2: #1d1d1d;
$cod-gray3: #141414;


// http://www.colorhexa.com/5b0910

$dark-red: #780910;
$very-dark-red: #5d0910;
$very-dark-grayish-orange: #554942;
